<a href="https://colab.research.google.com/github/siming-deng/cis3120/blob/main/CIS3120_HW_2_Q2_with_comments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import json
import pandas as pd

In [ ]:
# key obtained from weather API
key = '8c8e0a888b14ee4390a4d755988e34a4'

cities = ['Seattle', 'Boston', 'Philadelphia', 'Washington, D.C.', 'Miami', 'Las Vegas', 
          'Baltimore', 'Atlanta', 'New York', 'Chicago', 'San Francisco', 'Los Angeles']

# created lists to store the values
feels = []
humidity = []
temp = []
max_temp = []
min_temp = []
weather = []
wind = []

# loop over each city in the cities list
for city in cities:
  # sending request using the url
  url = f'http://api.openweathermap.org/data/2.5/weather?q={city}&APPID={key}&units=imperial'
  r = requests.get(url)

  # if the request was successful, print out the statments and append the value to the list
  if (r.status_code == 200):
    data = r.json()
    print(f"{data['name']} feels like {data['main']['feels_like']} °F.")
    feels.append(data['main']['feels_like'])
    print(f"{data['name']} humidity is {data['main']['humidity']} %.")
    humidity.append(data['main']['humidity'])
    print(f"{data['name']} temperature is {data['main']['temp']} °F.")
    temp.append(data['main']['temp'])
    print(f"{data['name']} maximum temperature is {data['main']['temp_max']} °F.")
    max_temp.append(data['main']['temp_max'])
    print(f"{data['name']} minimum temperature is {data['main']['temp_min']} °F.")
    min_temp.append(data['main']['temp_min'])
    print(f"{data['name']} weather description is {data['weather'][0]['description']}.")
    weather.append(data['weather'][0]['description'])
    print(f"{data['name']} wind speed is {data['wind']['speed']} mph.")
    wind.append(data['wind']['speed'])
    print(" ")
  else:
    # if the request was not successful, returning the unsuccessful message.
    print("API request was unsuccessful.")

# creating the series
weathers_data = {
    'City': cities,
    'Feels Like': feels,
    'Humidity': humidity,
    'Temperature': temp,
    'Maximum Temperature': max_temp,
    'Minimum Temperature': min_temp,
    'Weather Description': weather,
    'Wind Speed': wind
}

# using the series to create data frame
weather_df = pd.DataFrame(weathers_data)

Seattle feels like 47.91 °F.
Seattle humidity is 60 %.
Seattle temperature is 47.91 °F.
Seattle maximum temperature is 53.19 °F.
Seattle minimum temperature is 42.22 °F.
Seattle weather description is haze.
Seattle wind speed is 1.99 mph.

Boston feels like 34.03 °F.
Boston humidity is 57 %.
Boston temperature is 34.03 °F.
Boston maximum temperature is 36.28 °F.
Boston minimum temperature is 30.94 °F.
Boston weather description is broken clouds.
Boston wind speed is 1.99 mph.

Philadelphia feels like 32.99 °F.
Philadelphia humidity is 84 %.
Philadelphia temperature is 32.99 °F.
Philadelphia maximum temperature is 35.49 °F.
Philadelphia minimum temperature is 30.38 °F.
Philadelphia weather description is haze.
Philadelphia wind speed is 1.99 mph.

Washington feels like 22.39 °F.
Washington humidity is 80 %.
Washington temperature is 26.76 °F.
Washington maximum temperature is 27.77 °F.
Washington minimum temperature is 25.2 °F.
Washington weather description is overcast clouds.
Washington wind speed is 3.71 mph.

Miami feels like 73.85 °F.
Miami humidity is 65 %.
Miami temperature is 73.72 °F.
Miami maximum temperature is 75.22 °F.
Miami minimum temperature is 72 °F.
Miami weather description is broken clouds.
Miami wind speed is 4 mph.

Las Vegas feels like 54.45 °F.
Las Vegas humidity is 12 %.
Las Vegas temperature is 58.35 °F.
Las Vegas maximum temperature is 60.28 °F.
Las Vegas minimum temperature is 56.68 °F.
Las Vegas weather description is clear sky.
Las Vegas wind speed is 3.44 mph.

Baltimore feels like 34.02 °F.
Baltimore humidity is 89 %.
Baltimore temperature is 34.02 °F.
Baltimore maximum temperature is 36.57 °F.
Baltimore minimum temperature is 31.95 °F.
Baltimore weather description is mist.
Baltimore wind speed is 1.99 mph.

Atlanta feels like 41.22 °F.
Atlanta humidity is 50 %.
Atlanta temperature is 43.38 °F.
Atlanta maximum temperature is 49.28 °F.
Atlanta minimum temperature is 37.92 °F.
Atlanta weather description is overcast clouds.
Atlanta wind speed is 4 mph.

New York feels like 32.65 °F.
New York humidity is 80 %.
New York temperature is 32.65 °F.
New York maximum temperature is 34.99 °F.
New York minimum temperature is 29.95 °F.
New York weather description is overcast clouds.
New York wind speed is 1.01 mph.

Chicago feels like 15.98 °F.
Chicago humidity is 66 %.
Chicago temperature is 23.4 °F.
Chicago maximum temperature is 25.41 °F.
Chicago minimum temperature is 16.88 °F.
Chicago weather description is scattered clouds.
Chicago wind speed is 5.99 mph.

San Francisco feels like 60.98 °F.
San Francisco humidity is 49 %.
San Francisco temperature is 62.71 °F.
San Francisco maximum temperature is 68.16 °F.
San Francisco minimum temperature is 57.83 °F.
San Francisco weather description is broken clouds.
San Francisco wind speed is 4 mph.

Los Angeles feels like 68.58 °F.
Los Angeles humidity is 11 %.
Los Angeles temperature is 71.24 °F.
Los Angeles maximum temperature is 75.11 °F.
Los Angeles minimum temperature is 63.72 °F.
Los Angeles weather description is clear sky.
Los Angeles wind speed is 5.75 mph.

In [ ]:
# displaying the data frame
weather_df

                City  Feels Like  ...  Weather Description  Wind Speed
0            Seattle       47.91  ...                 haze        1.99
1             Boston       34.03  ...        broken clouds        1.99
2       Philadelphia       32.99  ...                 haze        1.99
3   Washington, D.C.       22.39  ...      overcast clouds        3.71
4              Miami       73.85  ...        broken clouds        4.00
5          Las Vegas       54.45  ...            clear sky        3.44
6          Baltimore       34.02  ...                 mist        1.99
7            Atlanta       41.22  ...      overcast clouds        4.00
8           New York       32.65  ...      overcast clouds        1.01
9            Chicago       15.98  ...     scattered clouds        5.99
10     San Francisco       60.98  ...        broken clouds        4.00
11       Los Angeles       68.58  ...            clear sky        5.75

[12 rows x 8 columns]

In [ ]:
# printing the statistical calculation
weather_df.describe()

       Feels Like   Humidity  ...  Minimum Temperature  Wind Speed
count   12.000000  12.000000  ...            12.000000   12.000000
mean    43.254167  58.583333  ...            41.305833    3.321667
std     18.116340  25.564387  ...            17.229915    1.566675
min     15.980000  11.000000  ...            16.880000    1.010000
25%     32.905000  49.750000  ...            30.272500    1.990000
50%     37.625000  62.500000  ...            34.935000    3.575000
75%     56.082500  80.000000  ...            56.967500    4.000000
max     73.850000  89.000000  ...            72.000000    5.990000

[8 rows x 6 columns]

In [ ]:
# save the data frame to a csv file
weather_df.to_csv('Cities_Weather_Data.csv', index = False)